[data-theme='light'] {
	--bg-color-switcher: rgb(231, 231, 231);
	--bg-color: #cfcfcf;
	--text-color: #333333;
	--primary-color: #609632;
	--second-color: #8a9a5b;
	--header-bg: #f5f5f5;
	--li-color: rgb(160, 160, 160);
	--li-color-press: #575757;
}
