[data-theme='light'] {
	--bg-color-switcher: rgb(231, 231, 231);
	--bg-color: #cfcfcf;
	--text-color: #333333;
	--primary-color: #609632;
	--secondary-color: #9aab7b;
	--header-bg: #f5f5f5;
	--li-color: rgb(160, 160, 160);
	--li-color-press: #575757;
	--field-color: #b9b9b9;
	--slider-bg-color-off: #999999;
	--error-color: rgb(255, 56, 56);
}
